---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageContent = "<div class=\"mc-about\">\n\n  <h1>Próximamente</h1>\n\n  <p>\nEsta página se está actualizando y estará disponible pronto.\n  </p>\n\n  <p>\nMientras tanto, puedes volver a la página principal o ponerte en contacto si necesitas algo específico.\n  </p>\n\n  <br />\n\n  <a href=\"#\" rel=\"home-page\">\n    <div class=\"custom-btn\">\n      <b>Volver al inicio</b>\n    </div>\n  </a>\n\n</div>";
---

<BaseLayout lang="es" noindex={true}
  title="Próximamente | Mitch Chadban"
  description="Esta página se está actualizando y estará disponible pronto. Mientras tanto, vuelve al inicio o ponte en contacto si necesitas algo específico."
  canonical="https://mitchchadban.com/proximamente/"
>
  <Fragment set:html={pageContent} />
</BaseLayout>
